@media only screen and (min-width: 720px)

body, html{
	height:100%;padding:0px;margin:0px;
}

body{background:url(../img/cielo.jpeg) no-repeat fixed center;}
	
ul{list-style-type: none;l
margin: 0;
padding: 0;
overflow: hidden;}

#nave{text-align:center;position:fixed;top:5%;width:100%;height:20%;}
#nave img{height:100%;}

.menu1{
	text-align:left;
	position:fixed;
	top:0%;
	left:0%;
	width:25%;
	height:35%;
}

.menu1 img{
	height:100%;display:block;
}

#m1{
	width:90%;
	max-width:88%;
	margin:2%;
	background-color:orange;
	border-style: solid;
	border-width: 11px;
    border-color: grey;
}

#m2 {
	width:70%;	
	background-color:blue;
}

#m3 {display:block;width:80%;padding:2%;}
	
.menu2{
	text-align:right;
	position:fixed;
	top:0%;
	right:2%;
	width:25%;
}

.menu2 img{
	height:100%;display:inline;
}

a :hover{background-color: #0043E1;}
#b{display:inline;}
#b img{width:40%;padding:2%;}

.instrucciones{
	text-align:left;
	position:fixed;
	top:30%;
	left:25%;
	width:50%;
	height:40%;
	background-color:yellow;
	border-style: solid;
	border-width: 12px;
    border-color: grey;
}

#c{position:absolute; left:5%; top:2%; width:90%; height:24%;}
#c img{width:100%;height:100%;padding:2%;}

#d{position:absolute; left:5%; top:32%; width:90%; height:27%;}
#d img{width:100%;height:100%;padding:2%;}

#e{position:absolute; left:5%; top:65%; width:90%; height:26%;}
#e img{width:100%;height:100%;padding:2%;}

#power{
	text-align:center;
	position:fixed;
	bottom:5%;
	right:0%;
	width:20%;
	height:20%;
	
}

#power img{height:100%;}

#luna{
	text-align:center;
	position:fixed;
	bottom:0%;
	width:100%;
	height:20%;
}

#luna img{display:inline-block;height:100%;}
