@media only screen and (max-width: 720px)	

body, html{
	height:100%;padding:0px;margin:0px;
}

body{background:url(../img/cielo.jpeg) no-repeat fixed center;}
	
ul{
	list-style-type: none;l
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a :hover{background-color: #0043E1;}

#nave{text-align:center;position:fixed;top:5%;width:100%;height:20%;}
#nave img{height:80%;}

.menu1{
	text-align:left;
	position:fixed;
	top:5%;
	left:2%;
	width:25%;
	height:35%;
}

.menu1 img{
	width:100%;
}

#m1a{
	width:90%;
	max-width:88%;
	margin:4%;
	margin-bottom:10%;
	background-color:orange;
	border-style: solid;
	border-width: 6px;
    border-color: grey;
}

#m1b {
	width:70%;	
	background-color:blue;
}

.m1c {display:block;width:100%;padding:2%;margin:2%;margin-bottom:4%;}
	
.menu2{
	text-align:right;
	position:fixed;
	top:4%;
	right:4%;
	width:25%;
}

.menu2 img{
	height:100%;display:inline;
}



.m2 img{width:65%;padding:6%;margin-bottom:15%;}

.instrucciones{
	text-align:left;
	position:fixed;
	top:35%;
	left:12%;
	width:70%;
	height:33%;
	background-color:yellow;
	border-style: solid;
	border-width: 12px;
    border-color: grey;
}

#c{position:absolute; left:4%; top:11%; width:89%; height:16%;}
#c img{width:100%;height:100%;padding:2%;}

#d{position:absolute; left:4%; top:39%; width:89%; height:16%;}
#d img{width:100%;height:100%;padding:2%;}

#e{position:absolute; left:4%; top:68%; width:88%; height:15%;}
#e img{width:100%;height:100%;padding:2%;}

#power{
	display:none;
}

#luna{
	text-align:center;
	position:fixed;
	bottom:0%;
	width:100%;
	height:17%;
}

#luna img{display:inline-block;height:100%;}


